@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@using Microsoft.Extensions.Configuration

@{

    var editMode =
                        this.Context.Kentico().PageBuilder().EditMode;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* Favicon *@

    <link rel="icon" href="/favicon.ico" sizes="any" asp-append-version="true">
    <link rel="icon" href="/icon.svg" type="image/svg+xml" asp-append-version="true">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" asp-append-version="true">
    <link rel="manifest" href="/manifest.webmanifest" asp-append-version="true">

    <title>@ViewData["Title"] - Njh</title>


    @*Dynamically added hashed files*@
    <link asp-cache-mappings="@AssetsFileInfo.HashedFiles" rel="preload" as="style" href="/dist/app.css" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript><link asp-cache-mappings="@AssetsFileInfo.HashedFiles" rel="stylesheet" href="/dist/app.css" /></noscript>
    <script asp-cache-mappings="@AssetsFileInfo.HashedFiles" src="/dist/app.js" defer></script>
    @if (editMode)
    {
        <page-builder-styles />
    }
    @RenderSection("styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Njh</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Njh
        </div>
    </footer>


    @await RenderSectionAsync("Scripts", required: false)
    @if (editMode)
    {
        <page-builder-scripts />
        <script src="~/Content/FormComponents/select2.full.min.js"></script>

    }

</body>
</html>
