@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@using Microsoft.Extensions.Configuration

@{

    var editMode = this.Context.Kentico().PageBuilder().EditMode;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @* TODO check format of page titles per-section vs globally; might be set in metadata *@
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,700&display=swap"
          rel="stylesheet" />

    @* Favicon *@
    <link rel="icon" href="/favicon.ico" sizes="any" asp-append-version="true">
    <link rel="icon" href="/icon.svg" type="image/svg+xml" asp-append-version="true">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" asp-append-version="true">
    <link rel="manifest" href="/manifest.webmanifest" asp-append-version="true">

    @*Dynamically add hashed CSS and JS files*@
    <link asp-cache-mappings="@AssetsFileInfo.HashedFiles" rel="preload" as="style" href="/dist/app.css" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript><link asp-cache-mappings="@AssetsFileInfo.HashedFiles" rel="stylesheet" href="/dist/app.css" /></noscript>
    <script asp-cache-mappings="@AssetsFileInfo.HashedFiles" src="/dist/app.js" defer></script>
    @if (editMode)
    {
        <page-builder-styles />
    }
    @RenderSection("styles", required: false)
</head>
<body>
<a href="#main" class="skip-to-content visually-hidden-focusable">
    Skip to content
</a>
    <vc:header></vc:header>
    
    <p>master layout: Left nav begin</p>
    <vc:left-nav></vc:left-nav>
    <vc:utility-nav></vc:utility-nav>
    <p>master layout: Left nav end</p>

        
        @RenderBody()
   
    <footer class="app-footer">
        @* TODO replace below with Footer component *@
        <div class="container">
            &copy; 2022 - Njh
        </div>
    </footer>


    <div class="app-overlay" data-hook="appOverlay"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @await RenderSectionAsync("Scripts", required: false)
    @if (editMode)
    {
        <link href="/Content/InlineEditors/froala-editor-styles.css" rel="stylesheet" />

        <page-builder-scripts />
        <script src="~/Content/FormComponents/select2.full.min.js"></script>
        <script src="/Content/InlineEditors/froala-configuration.js"></script>

    }

</body>
</html>
