@using Kentico.PageBuilder.Web.Mvc
@using Njh.Mvc.Models.SectionProperties
@using Kentico.Content.Web.Mvc
@using Njh.Mvc.Models.SectionsViewModels

@model OneColumnFullWidthSectionViewModel


<section class="widget-zone @Model.BaseBackgroundCssClass @Model.GetThemeCssClass() @Model.GetPaddingCssClass() @Model.GetMarginCssClass()" style="@Model.GetBackgroundColor() @Model.GetTextColor()">
  <div class="row row-cols-1 gx-0">
    <div class="col">
        <widget-zone allowed-widgets="AllowedComponents.ALL" id="first"></widget-zone>
      </div>
    </div>  
</section>
