@model IEnumerable<Njh.Kernel.Models.DTOs.NavItem>

@{
    // TODO fix this
    var currentPageNodeID = 39; // NodeID of page /Dev/Parent/Alpha
    var parentPageTitle = Model.First().DisplayTitle;
}

<!-- Aside / DOES NOT load on mobile -->
<aside class="subpage__aside">
    <!-- NJHK13-388 Left Rail Nav -->
    @* TODO replace Skip Navigation text, aria labels, etc. with resource strings *@
    <a href="#subpageContent"
       class="subpage__aside-nav-skip visually-hidden-focusable">
        Skip Navigation
    </a>

    @* The first navItem in the model should be the parent of the current page, and displays a heading *@
    <nav class="subpage__aside-nav" aria-label="Sibling Pages">
        <ul role="list" class="subpage__aside-nav-list">
            <!-- Single Item for the parent page. -->
            <!-- This is to let the user know all the navigation is based around the parent page. -->
            <li class="subpage__aside-nav-item subpage__aside-nav-parent">
                <h2><a href="#">@parentPageTitle</a></h2>

                @* the rest of the menu should be children of the parent: current page, siblings if any, and all their descendants
                    TODO fix the parent-child display code below!
                *@
                <ul class="subpage__aside-nav-list">
                    @foreach (var link in Model)
                    {
                        @if (!link.Children.Any())
                        {
                            <li class="subpage__aside-nav-item@(link.NodeID==currentPageNodeID ? " is-self" : "")" 
                                id="asideNavItem_@link.NodeID">
                                <a href="@link.Link">@link.DisplayTitle</a>
                            </li>
                        }
                        else
                        {
                            <li class="subpage__aside-nav-item has-children@(link.NodeID==currentPageNodeID ? " is-self" : "")"
                                id="asideNavItem_@link.NodeID">
                                <div class="subpage__aside-nav-dropdown">
                                    <button type="button"
                                        class="subpage__aside-nav-trigger"
                            id="asideNavItem_@(link.NodeID)_label"
                                        aria-label="Self sub menu"
                                        data-bs-toggle="collapse"
                                        aria-expanded="true"
                            data-bs-target="#asideNavItem_@(link.NodeID)_children"
                            aria-controls="asideNavItem_@(link.NodeID)_children">
                                        <span class="app-icon icon-dropdown"></span>
                                    </button>
                                    <a href="@link.Link">@link.DisplayTitle</a>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </li>
        </ul>
    </nav>

    @*
    <nav class="subpage__aside-nav" aria-label="Sibling Pages">
        <ul role="list" class="subpage__aside-nav-list">
            <!-- Single Item for the parent page. -->
            <!-- This is to let the user know all the navigation is based around the parent page. -->
            <li class="subpage__aside-nav-item subpage__aside-nav-parent">
                <h2><a href="#">Parent Page</a></h2>
                <ul class="subpage__aside-nav-list">
                    <!-- Single Depth -->
                    <li class="subpage__aside-nav-item" id="asideNavItem_01598753">
                        <a href="#">Sibling</a>
                    </li>

                    <!-- Multi-level Items-->
                    <!-- Current page - default open IF has children-->
                    <li class="subpage__aside-nav-item has-children is-self"
                        id="asideNavItem_65432">
                        <div class="subpage__aside-nav-dropdown">
                            <button type="button"
                                    class="subpage__aside-nav-trigger"
                                    id="asideNavItem_65432_label"
                                    aria-label="Self sub menu"
                                    data-bs-toggle="collapse"
                                    aria-expanded="true"
                                    data-bs-target="#asideNavItem_65432_children"
                                    aria-controls="asideNavItem_65432_children">
                                <span class="app-icon icon-dropdown"></span>
                            </button>
                            <a href="#" aria-current="true">Self</a>
                        </div>
                        <ul class="subpage__aside-nav-list collapse show"
                            id="asideNavItem_65432_children"
                            aria-hidden="false"
                            aria-labeledby="asideNavItem_65432_label">
                            <li class="subpage__aside-nav-item" id="asideNavItem_0147852369">
                                <a href="#">Child</a>
                            </li>
                            <li class="subpage__aside-nav-item" id="asideNavItem_9874563210">
                                <a href="#">Child</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Siblings with children and grand children - default closed  -->
                    <li class="subpage__aside-nav-item has-children"
                        id="asideNavItem_123456">
                        <div class="subpage__aside-nav-dropdown">
                            <button type="button"
                                    class="subpage__aside-nav-trigger"
                                    id="asideNavItem_123456_label"
                                    aria-label="Sibling sub menu"
                                    data-bs-toggle="collapse"
                                    aria-expanded="false"
                                    data-bs-target="#asideNavItem_123456_children"
                                    aria-controls="asideNavItem_123456_children">
                                <span class="app-icon icon-dropdown"></span>
                            </button>
                            <a href="#">Sibling</a>
                        </div>

                        <!-- Sibling's children -->
                        <ul class="subpage__aside-nav-list collapse"
                            id="asideNavItem_123456_children"
                            aria-hidden="true"
                            aria-labeledby="asideNavItem_123456_label">
                            <li class="subpage__aside-nav-item" id="asideNavItem_963258741">
                                <a href="#">Nephew</a>
                            </li>
                            <li class="subpage__aside-nav-item has-children"
                                id="asideNavItem_98765">
                                <div class="subpage__aside-nav-dropdown">
                                    <button type="button"
                                            class="subpage__aside-nav-trigger"
                                            aria-label="Niece sub menu"
                                            data-bs-toggle="collapse"
                                            aria-expanded="false"
                                            data-bs-target="#asideNavItem_98765_children"
                                            aria-controls="asideNavItem_98765_children"
                                            id="asideNavItem_98765_label">
                                        <span class="app-icon icon-dropdown"></span>
                                    </button>
                                    <a href="#">Niece</a>
                                </div>

                                <!-- Sibling's grand children -->
                                <ul class="subpage__aside-nav-list collapse"
                                    id="asideNavItem_98765_children"
                                    aria-hidden="true"
                                    aria-labeledby="asideNavItem_98765_label">
                                    <li class="subpage__aside-nav-item"
                                        id="asideNavItem_654123789">
                                        <a href="#">Nephew Once Removed</a>
                                    </li>
                                    <li class="subpage__aside-nav-item"
                                        id="asideNavItem_654987321">
                                        <a href="#">Niece Once Removed</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <!-- #{} indicates any template level replacements based on page metadata.-->
                    <!-- This item will not actually work, it's invalid HTML due to the #{} -->
                    <!-- Turn it on if you wish to see it on screen. -->
                    <!-- Note, it will cause funky behaviour with the other dropdowns -->
                    <!-- It is only to show the template level replacements a little better -->
                    <!--
                    <li
                      class="subpage__aside-nav-item has-children"
                      id="asideNavItem_#{pageID}">
                      <div class="subpage__aside-nav-dropdown">
                        <button
                          type="button"
                          class="subpage__aside-nav-trigger"
                          id="asideNavItem_#{pageID}_label"
                          aria-label="#{pageName} sub menu"
                          data-bs-toggle="collapse"
                          aria-expanded="true"
                          data-bs-target="#asideNavItem_#{pageID}_children"
                          aria-controls="asideNavItem_#{pageID}_children">
                          <span class="app-icon icon-dropdown"></span>
                        </button>
                        <a href="#" aria-current="true">#{pageName}</a>
                      </div>

                      <ul
                        class="subpage__aside-nav-list collapse show"
                        id="asideNavItem_#{pageID}_children"
                        aria-hidden="false"
                        aria-labeledby="asideNavItem_#{pageID}_label">
                        <li class="subpage__aside-nav-item" id="asideNavItem_#{childID}">
                          <a href="#">#{childName}</a>
                        </li>

                        <li class="subpage__aside-nav-item" id="asideNavItem_#{childID}">
                          <a href="#">#{childName}</a>
                        </li>

                        <li
                          class="subpage__aside-nav-item has-children"
                          id="asideNavItem_#{childID}">
                          <div class="subpage__aside-nav-dropdown">
                            <button
                              type="button"
                              class="subpage__aside-nav-trigger"
                              aria-label="#{pageName} sub menu"
                              data-bs-toggle="collapse"
                              aria-expanded="true"
                              data-bs-target="#asideNavItem_#{childID}_children"
                              aria-controls="asideNavItem_#{childID}_children"
                              id="asideNavItem_#{childID}_label">
                              <span class="app-icon icon-dropdown"></span>
                            </button>
                            <a href="#">#{childName}</a>
                          </div>

                          <ul
                            class="subpage__aside-nav-list collapse show"
                            id="asideNavItem_#{childID}_children"
                            aria-hidden="true"
                            aria-labeledby="asideNavItem_#{childID}_label">
                            <li
                              class="subpage__aside-nav-item"
                              id="asideNavItem_#{grandChildID}">
                              <a href="#">#{grandChildName}</a>
                            </li>
                            <li
                              class="subpage__aside-nav-item"
                              id="asideNavItem_#{grandChildID}">
                              <a href="#">#{grandChildName}</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                              -->
                </ul>
            </li>
        </ul>
    </nav>
    *@
</aside>
